                    @charset "utf-8";
                    #mainbackground {
                        background-color: #FFCCAA;
                        background-image: url(ImagesVS/grey\ triangles.png);
                    }
                    
                    h1 {
                        color: #CA3C28;
                        font-family: amatic-sc;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 49px;
                        text-transform: capitalize;
                        word-spacing: 1px;
                    }
                    
                    #maindivback {
                        background-color: #FFCCAA;
                        border: #313131 solid medium;
                        width: 1050px;
                        margin: 0 auto;
                        padding: 30px 20px;
                    }
                    
                    #navigation {
                        font-size: 18px;
                        text-align: center;
                        background-color: #E1533C;
                    }
                    
                    #navigation li {
                        display: inline;
                        font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
                        color: black;
                        padding-left: 132px;
                        padding-right: 132px;
                        text-align: center;
                    }
                    
                    #parentphoto {
                        height: 200px;
                        border-radius: 200px;
                    }
                    /*to make the pictures in a perfect circle, crop the photos to be squares and set the height and border radius to be the same px*/
                    
                    .availablepuppies {
                        text-align: center;
                        border: #313131 solid 1px;
                    }
                    
                    #avpuppyphotos {
                        height: 450px;
                        width: auto;
                    }
                    
                    #mainphoto {
                        float: left;
                        border: #313131 solid 1px;
                        width: 500px;
                    }
                    
                    .meetpuppiesbutton {
                        float: right;
                        border: #313131 solid 1px;
                        width: 500px;
                        height: 499.266px;
                    }
                    
                    .maincontent {
                        text-align: center;
                        border: #313131 1px solid;
                        width: 500px;
                    }
                    
                    p {
                        text-align: center;
                        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    }
                    
                    .theparents {
                        float: right;
                        border: #313131 solid 1px;
                        width: 500px;
                        height: 560px;
                        position: relative;
                        bottom: 560px;
                    }
                    
                    .dad,
                    .mom {
                        border: #313131 solid 1px;
                    }
                    
                    .daddescrip,
                    .momdescrip {
                        float: right;
                        width: 275px;
                    }